body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    overflow-y: auto;
}

dialog{
    border-radius: 15px;
    background-color: rgb(93, 248, 189);
}

input{
    border-radius: 4px;
    border: 2;
}

.new_book_sticky{
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
}

.buttons{
    height: 45px;
    width: 76px;
    border-radius: 6px;
    border: 3px groove;
}

#add_book{
    margin: 0 8px 0 5px;
    border-color: rgb(21, 112, 202);
}

#new_book{
    border-color: forestgreen;
    width: 90px;
    align-self: center;
}

.card{
    border-radius: 8px;
    background-color: burlywood;
    display: flex;
    width: 25%;
    height: 11rem;
    flex-direction: column;
    padding-left: 6px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: gray burlywood;
    margin: 0 8px 10px 0;
    p{
        font-size: small;
        color: green;  
        font-weight: bold;
        width: fit-content;
        margin-top: 5px;  
        &:first-of-type{
            font-size: medium;
        }
    }
    button{
        font-size: small;
        &:first-of-type{
            align-self: flex-end;
            justify-self: flex-start;
            margin: 10px 4px 0 0;
        };
        &:last-of-type{
            align-self: center;
            justify-self: flex-end;
            margin: 0 0 5px 0;
        }
    }

}